button {
  background-color: #8797f2;
  border: ridge;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#myChart {
  max-width: 1000px;
  max-height: 1000px;
  margin: 1 auto;
}

.container {
  display: inline;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 12vh;
}